* {
    box-sizing: border-box;
}

body {
    background-color: #505050;
}

#header
{
    width: 75%;
    height: 15%;
    position: relative;
}

#content
{
    display: flex;
    width: 75%;
    margin: auto;
}

#left
{
    margin: 10px;
    flex: 1;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 3%;
    max-width: 15%;
    position: relative;
}

#cluster
{
    margin: 5px;
    flex: 4;
    margin-left: 25px;
    margin-right: 30px;
}

.container 
{
    background: #909090;
    border: transparent;
    box-shadow: 8px 8px 5px black;
    padding: 10px;
    margin-top: 20px;
    margin: auto;
    border-radius: 8px;
}

img
{
    margin: 2px;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.reload
{
    width: 15px;
    height: 15px;
    top: 8px;
    right: 8px;
    position: absolute;
}
.close{
    width: 15px;
    height: 15px;
    bottom: 3px;
    right: 8px;
    position: absolute;
}

.loupe
{
    width: 300px;
    height: 300px;
    top : 13px;
    right: -35px;
    position: absolute;
}